@import "tailwindcss";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
    --color-background: hsl(var(--background));
    --color-foreground: hsl(var(--foreground));

    --color-card: hsl(var(--card));
    --color-card-foreground: hsl(var(--card-foreground));

    --color-popover: hsl(var(--popover));
    --color-popover-foreground: hsl(var(--popover-foreground));

    --color-primary: hsl(var(--primary));
    --color-primary-foreground: hsl(var(--primary-foreground));

    --color-secondary: hsl(var(--secondary));
    --color-secondary-foreground: hsl(var(--secondary-foreground));

    --color-muted: hsl(var(--muted));
    --color-muted-foreground: hsl(var(--muted-foreground));

    --color-accent: hsl(var(--accent));
    --color-accent-foreground: hsl(var(--accent-foreground));

    --color-destructive: hsl(var(--destructive));
    --color-destructive-foreground: hsl(var(--destructive-foreground));

    --color-border: hsl(var(--border));
    --color-input: hsl(var(--input));
    --color-ring: hsl(var(--ring));

    --color-chart-1: hsl(var(--chart-1));
    --color-chart-2: hsl(var(--chart-2));
    --color-chart-3: hsl(var(--chart-3));
    --color-chart-4: hsl(var(--chart-4));
    --color-chart-5: hsl(var(--chart-5));

    --color-sidebar: hsl(var(--sidebar-background));
    --color-sidebar-foreground: hsl(var(--sidebar-foreground));
    --color-sidebar-primary: hsl(var(--sidebar-primary));
    --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
    --color-sidebar-accent: hsl(var(--sidebar-accent));
    --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
    --color-sidebar-border: hsl(var(--sidebar-border));
    --color-sidebar-ring: hsl(var(--sidebar-ring));

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;

    @keyframes accordion-down {
        from {
            height: 0;
        }
        to {
            height: var(--radix-accordion-content-height);
        }
    }
    @keyframes accordion-up {
        from {
            height: var(--radix-accordion-content-height);
        }
        to {
            height: 0;
        }
    }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@layer utilities {
    body {
        font-family: Geist, Helvetica, sans-serif;
    }
}

@layer base {
    :root {
        --background: 356 33% 98%;
        --foreground: 356 62% 1%;
        --muted: 356 8% 90%;
        --muted-foreground: 356 10% 27%;
        --popover: 356 33% 98%;
        --popover-foreground: 356 62% 1%;
        --card: 356 33% 97%;
        --card-foreground: 356 62% 0%;
        --border: 356 3% 89%;
        --input: 356 3% 89%;
        --primary: 356 58% 34%;
        --primary-foreground: 356 58% 94%;
        --secondary: 356 14% 86%;
        --secondary-foreground: 356 14% 26%;
        /* --accent: 356 14% 86%; */
        --accent: 47 90.5% 54.5%;
        --accent-foreground: 356 14% 26%;
        --destructive: 14 84% 32%;
        --destructive-foreground: 14 84% 92%;
        --ring: 356 58% 34%;
        --chart-1: 356 58% 34%;
        --chart-2: 356 14% 86%;
        --chart-3: 356 14% 86%;
        --chart-4: 356 14% 89%;
        --chart-5: 356 61% 34%;
        --radius: 0.5rem;
        /* --cit-yellow: 47 90.5% 54.5%; */
    }
    .dark {
        --background: 47 31% 3%;
        --foreground: 47 28% 99%;
        --muted: 47 5% 8%;
        --muted-foreground: 47 15% 67%;
        --popover: 47 31% 3%;
        --popover-foreground: 47 28% 99%;
        --card: 47 31% 4%;
        --card-foreground: 0 0% 100%;
        --border: 47 3% 11%;
        --input: 47 3% 11%;
        --primary: 47 91% 55%;
        --primary-foreground: 47 91% 15%;
        --secondary: 47 8% 19%;
        --secondary-foreground: 47 8% 79%;
        --accent: 355.84 57.71% 34.31%;
        --accent-foreground: 47 15% 86%;
        --destructive: 22 82% 49%;
        --destructive-foreground: 0 0% 0%;
        --ring: 47 91% 55%;
        --chart-1: 47 91% 55%;
        --chart-2: 47 8% 19%;
        --chart-3: 47 15% 26%;
        --chart-4: 47 8% 22%;
        --chart-5: 47 94% 55%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
